.row_images{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
}
.row_images::-webkit-scrollbar{
    display: none;
}
.all_images{
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
   transition: transform 450ss;
}
.row_largeposter{
    max-height: 250px;
}
.all_images:hover{
    transform: scale(1.08);
}
